.about-us {
  @include page-grid;

  &__title {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &__content {
    grid-column: 1 / -1;
    margin-top: 32px;

    @include on-tablet {
      grid-column: 4 / 7;
      margin-top: 0;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__text {
    margin: 0;
    line-height: 140%;
    font-size: 23px;
    font-weight: 500;
  }
}
