.compare-bikes {
  &__products {
    margin-top: 56px;

    @include page-grid;

    row-gap: 40px;
  }

  .product {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: span 4;
    }

    &__title {
      font-size: 24px;
      font-weight: 700;
      line-height: 140%;
    }

    &__category {
      font-size: 16px;
      font-weight: 400;
      line-height: 140%;
    }

    &__price {
      font-size: 24px;
      font-weight: 700;
      line-height: 140%;
    }
  }
}
