.contacts {
  &__wrapper {
    @include page-grid;

    margin-top: 48px;
  }

  &__form {
    grid-column: 1 / -1;

    display: flex;
    justify-content: center;
    margin-bottom: 48px;

    @include on-tablet {
      grid-column: 1 / 4;
      margin-bottom: 0;
    }

    @include on-desktop {
      grid-column: 1 / 6;
      margin-bottom: 0;
    }
  }

  &__form-fields {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-height: 48px;
  }

  &__form-field {
    box-sizing: border-box;
    width: 288px;
    height: 48px;
    border-radius: 40px;
    padding-left: 16px;
    background-color: $main-text-color;
    border: 1px solid $main-text-color;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    outline: none;

    @include on-desktop {
      width: 411px;
    }

    @include hover-form;
  }

  &__form-field-message {
    box-sizing: border-box;
    width: 288px;
    height: 148px;
    border-radius: 16px;
    padding: 16px 14px;
    background-color: $main-text-color;
    border: 1px solid $main-text-color;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: $second-text-color;
    resize: none;
    outline: none;

    @include on-desktop {
      width: 411px;
    }

    @include hover-form;
  }

  &__button {
    box-sizing: border-box;
    margin-top: 32px;
    width: 288px;
    height: 56px;
    border-radius: 40px;
    border: 1px solid $main-text-color;
    background-color: $main-text-color;
    color: $second-text-color;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    cursor: pointer;

    @include on-desktop {
      width: 411px;
    }

    @include hover-button(transform, scale(1.2));
    @include focus-button;
  }

  &__info {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / 7;
    }

    @include on-desktop {
      grid-column: 8 / -1;
    }

    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__label {
    margin: 0;
    margin-bottom: 8px;

    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
  }
  &__link {
    text-decoration: none;
    color: $main-text-color;
    font-size: 16px;
    font-weight: 500;

    @include hover-text;
  }
}
