.details {
  &__wrapper {
    margin-top: 48px;
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      margin-top: 64px;
    }

    @include on-desktop {
      margin-top: 48px;
    }
  }
}

.detail {
  &__photos {
    @include page-grid;

    margin-bottom: 16px;
  }
  &__link {
    position: relative;

    &--wide {
      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 8;
      }
    }
    &--square {
      height: 0;
      padding-bottom: 100%;

      @include on-tablet {
        grid-column: span 2;
      }

      @include on-desktop {
        grid-column: span 4;
      }
    }
  }
  &__photo {
    @include hover(transform, scale(1.05));

    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }

  &__text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    @include on-desktop {
      width: 672px;
    }
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

  @include on-tablet {
    margin-top: 48px;
  }

  &__setting {
    height: 56px;
    width: 278px;
    border-radius: 40px;
    border: 10px solid $main-text-color;
    color: $second-text-color;
    background-color: $main-text-color;
    border-color: $main-text-color;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    line-height: 27px;

    @include on-tablet {
      width: 392px;
    }

    @include on-tablet {
      width: 324px;
    }

    @include hover-button(transform, scale(1.2));
    @include focus-button;
  }
}
