.footer {
  height: 200px;
  background-image: url(../images/footer/footer-320.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 120px;

  @include on-tablet {
    height: 480px;
    background-image: url(../images/footer/footer-744.png);
    margin-top: 0;
  }

  @include on-desktop {
    height: 555px;
    background-image: url(../images/footer/footer-1260.png);
    margin-top: 0;
  }

  position: sticky;
  bottom: 0;
  z-index: -1;
}
