.header {
  background-image: url(../images/header/header-320.png);
  background-size: cover;
  background-repeat: no-repeat;

  @include on-tablet {
    background-image: url(../images/header/header-744.png);
  }

  @include on-desktop {
    background-image: url(../images/header/header-1260.png);
  }

  &__content {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    margin: 0;
    font-style: bold;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -1.5px;

    @include on-tablet {
      font-size: 64px;
    }

    @include on-desktop {
      font-size: 80px;
    }
  }

  &__bottom {
    padding-bottom: 88px;

    @include on-tablet {
      padding-bottom: 130px;
    }

    @include on-desktop {
      padding-bottom: 203px;
    }
  }
}
